[2020-01-29 15:57] Bogdis opened #3 "How to?"
Hi,

How do i install this one?

Best regards.

[2020-01-29 15:59] iRayanKhan commented on #3
Hi @Bogdis, currently you have to navigate to your plugin folder then do:
``` git clone https://github.com/iRayanKhan/homebridge-tuya-lan```
I will publish this plugin to NPM tonight after doing a final test.

[2020-01-29 17:04] Bogdis commented on #3
Ok, thank you.

[2020-01-29 18:33] Bogdis commented on #3
Hi, just install this but cant get in to work just like the other plugin. :(
Tried Tuya, Smart Life and Ucomen
Getting:
Error: EPIPE { Error: write EPIPE
    at WriteWrap.afterWrite [as oncomplete] (net.js:868:14) errno: 'EPIPE', code: 'EPIPE', syscall: 'write' }

and

Error: undefined Error: This socket is closed
    at Socket._writeGeneric (net.js:733:18)
    at Socket._write (net.js:787:8)

[2020-01-29 19:14] Bogdis commented on #3
Hi,
Got it to work thank you so mutch:)

[2020-01-29 22:50] Bogdis commented on #3
Hi again,

Ive gott everything working but i think that i have a problem or 2 do you think you can help me?

First when i restart homebridge my devices show up as off in homekit app and when i click the device nothing happens it just turns to on position, after that it works great.

The second thing is i get [TuyaDiscovery] UDP from xxx.xxx.x.xx:xxxx 0x000055aa...0x0000aa55
al the time it just scr

[2020-01-30 02:25] iRayanKhan commented on #3
Hi @Bogdis Do you mind pasting the full log? Also what made the first part starting working just incase other people have this issue.

[2020-01-30 08:33] Bogdis commented on #3
Hi i didint do anything special just changed homebridge port and started over again with the process and it worked.

Here is my log:

Started Node.js HomeKit Server.
[2020-1-30 08:25:14] Loaded config.json with 6 accessories and 6 platforms.
[2020-1-30 08:25:15] ---
[2020-1-30 08:25:15] Loaded plugin: homebridge-config-ui-x
[2020-1-30 08:25:15] Registering platform 'homebridge-config-ui-x.config'

[2020-01-30 09:46] Mikmonken opened #4 "Tuya-Lan-Find can't connect to port 8080 - Hoobs"
I think this is something that you came up with previously, as I see your Ucomen Home solution involved changing the port, but I've come across this too.

I'm not savvy enough to know where to change that file, but as I use HOOBS (which I think defaults to 8080) I could change the port here and get Tuya Lan Find to work by switching it to 8001.

Though it useful to flag anyway for info.

[2020-01-30 19:44] iRayanKhan commented on #4
Thanks for the heads up, I haven't used hoobs, but I'll add this to the wiki if other users encounter this issue.

[2020-01-30 19:44] #4 closed

[2020-01-30 19:59] iRayanKhan commented on #3
Clearing your cached accessories may help with the states being messed up, but I see you have a good number of accessories in this instance so I wouldn't want you to have to re orange what room certain accessories are in.

[2020-01-30 20:52] Bogdis commented on #3
Did that and didint help. :( Do you know why do i get the tuyadiscovery udp from all the time it scrolls thrugh all the ip:s and goes round and round again? My log gets very long
is there anything that you can se that its wrong?

Thank you.

[2020-01-30 22:02] iRayanKhan commented on #3
Do you mind pasting your config file?

[2020-01-30 22:08] Bogdis commented on #3
{
    "bridge": {
        "name": "HomeBridge",
        "username": "xxxxxxxxxxxxxxxxxxx",
        "port": 51826,
        "pin": "031-45-154"
    },
    "description": "This is an example configuration file with one fake accessory and one fake platform. You can use this as a template for creating your own configuration file containing devices you actually own.",
    "accessories": [
        {

[2020-01-30 22:16] iRayanKhan commented on #3
I wonder if defining the IP would work so it doesn't need to auto-discover.

[2020-02-03 01:21] chinloon opened #5 "New Devices?"
I am wondering if generic new devices matching HomeKit's "Sensors" can be added?  Will be good it it can report "Temperature", "Humidity", "Other" - any value useful for smoke detectors, and "open/close" - door/windows switches etc...

Thanks!

[2020-02-03 04:35] iRayanKhan commented on #5
Just for reference these are the current [compatible](https://github.com/iRayanKhan/homebridge-tuya-platform/wiki/Working-devices-and-accessories) devices.

If you can provide the schema for these new devices I can try to add them.

[2020-02-03 12:05] chinloon commented on #5
Thanks, lets start of with a couple of sensors:
PIR
 {
    name: 'PIR Sensor',
    id: 'xxx',
    key: 'nnn',
    def:
	{
      		schema:
		'[
			{
				"mode":"ro",
				"code":"PIR",
				"name":"PIR",
				"property":
					{
						"range":["pir"],
						"type":"enum"
					},
				"id":101,
				"trigger":"direct",
				"type":"obj",
				"desc":"pir \\u68c0\\u6d4b"
			},
			{
				"mode":"ro",
				"code

[2020-02-03 23:28] iRayanKhan commented on #5
Hi @chinloon  I have some news.

These sensor accessories only communicate with the cloudAPI which this plugin can't handle, and only respond per event (Source; codetheweb Tuya plugin issue # 33.)

There may be a slime chance of hope if this works for you:
https://github.com/kueblc/mocktuyacloud

Other than that it's not possible at the moment to add these accessories into HomeKit. I can try to ma

[2020-02-03 23:28] #5 closed

[2020-02-03 23:28] iRayanKhan commented on #3
Closing; installing issue resolved.

[2020-02-03 23:28] #3 closed

[2020-02-04 04:00] chinloon opened #6 "New Device - Non send only sensors"
Thanks @iRayanKhan for the insights on sensor type devices.  So that will mean that PIR, Door/Window Switch will faced similar problem of needing to intercept internet traffic - another more complex topic of DNS rerouting.

However, I have devices such as Siren (with Temp and Humidity Sensors and the app has ability to trigger the Siren) and Smoke Detector (that has alarm trigger from app).  These

[2020-02-04 04:10] iRayanKhan commented on #6
I think you meant to reply to the other issue as this is a new issue. I think they are completely silent 'till triggered due to Wi-Fi consuming more battery than using another more common standard like BLE. And sadly that most likely won't work unless it can interact locally, and not rely on pure cloud. See that link I sent in the previous issue.

[2020-02-04 04:49] chinloon commented on #6
How do I confirm if the siren and smoke detector interacts locally?  From the SmartLife app, there are triggers to sound the alarm so I assumed that the devices must somehow be listening for commands.... :-)

[2020-02-04 17:13] rcrdcst opened #7 "Teekar Switches 4th Generation not working"
Hey Rayan, i have a 3rd generation Teepao SimpleBlinds Switches and they are working perfectly, but yesterday i got a 4th generation, and the homebridge can detect them, but if i try to close or open a Blind nothing happens.

It´s because is new and your plugin dont know how they work?

[2020-02-04 19:45] rcrdcst commented on #7
This is the schema

{
    name: 'Main Room Curtain',
    id: '00738503d8bfc0ea272c',
    key: 'b92b9f137a198c86',
    def: {
      schema: '[{"mode":"rw","code":"control","name":"\\u63a7\\u5236","property":{"range":["open","stop","close"],"type":"enum"},"iconname":"icon-dp_power2","id":1,"type":"obj","desc":""},{"mode":"rw","code":"percent_control","name":"\\u5f00\\u542f\\u767e\\u5206\\u6bd4\\u63a

[2020-02-04 21:41] rcrdcst commented on #7
i managed to get this to work, the problem is that the 4th gen is using "open", "close", "stop" as status instead of 1,2,3. if you can add this change to the SimpleBlinds file and it will fix the issue :)

[2020-02-04 23:56] iRayanKhan commented on #7
Hi @rcrdcst thanks for the info. Do you still have your 3rd gen to see if the new statuses work for them?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-02-05 00:41] iRayanKhan commented on #6
Check using WireShark

[2020-02-05 13:46] rcrdcst commented on #7
yes i have one, but it doesnt work, you need 2 different status schemes. one for each gen

[2020-02-05 19:13] iRayanKhan commented on #7
I'm going to look into this. I have to find a way to ensure the accessory uses the right file for each device type. I will make a branch for this to test with.

[2020-02-06 11:09] rcrdcst commented on #7
i created a new file from the SimpleBlinds, but that´s not a great solution, the best way is to identify the blinds by adding a new parameter to set the switch generation mb, and change the enum based on that

[2020-02-07 06:04] Zaphor88 opened #8 "Brightness level goes to 0% when Home App is opened."
Hi there.
The brightness level goes to 0% when the Home App is opened. the lamp does not change its brightness.
 the old homebridge Tuya platform no longer supported did not solve the problem. maybe you can take a look there to find the error.
that would be really great.

thank you for continuing to support the codes

[2020-02-07 12:47] Lestercity opened #9 "smart blinds"
first of all thanks for continuing this plugin, really appreciated. Finally got my way through getting the id and keys for my smart blinds controller through the uCoven Home app. Both controllers are discovered in Homebridge and show up in Home App. Unfortunately the status of them in Homebridge isn't correct and can't get them to control in Home App. Message in homebridge:

[TuyaAccessory] Sendin

[2020-02-07 19:05] iRayanKhan commented on #8
Hi @Zaphor88,
Could I get some more info to start debugging?
I need the following:
[code]
Also what specific light accessory are you using?

[2020-02-07 19:08] iRayanKhan commented on #9
Hi @Lestercity,
The way the keys/id works is iffy, if you are primarily using HomeKit to control them, maybe you should leave them in the uCoven app. There also could be the issue of the fact that your blinds are using different status sets to be controlled.

Someone made a fork linked [here](https://github.com/rcrdcst/homebridge-tuya-platform) that may fix this issue for you.

I am currently work

[2020-02-07 19:09] iRayanKhan commented on #7
Or I wonder if I could have it choose between each status schemes. Like a "or" statement.

[2020-02-07 19:11] Zaphor88 commented on #8
Node v12.14.1
NPM v6.13.4
iOS 13.3.1

The lamp is a floor lamp that is dimmable from the brand Teckin.

[2020-02-07 19:17] Lestercity commented on #9
Hi Rayan. Thx for the fast respond. The blinds I am using are identical. Could you please send the link to fork for the fix. The link you pasted just brings me to the homepage of the plugin.

Thx again for your work.

Mvg Lester

vrijdag 7 februari 2020 20:08 +0100 van notifications@github.com  <notifications@github.com>:

[2020-02-08 01:27] Lestercity commented on #9
So I did a fresh installation. Added them back to the Ucomen app and again retrieved the id and keys. And kept them in Ucomen. And again they show up in Home App. Now no more error message. But the blinds dont respond on any action. Although Homebridge in Terminal is lined out with the commands I am giving in Home App to the Blinds, so that looks good. Only the blinds dont react. The status of the

[2020-02-08 22:47] Lestercity commented on #7
Could I ask. I think I have the same problem with my 2 blinds. They are perfectlty discovered and show up with no error in Home App and Terminal Homebridge. Only when trying to control them within Home App the tile only keeps spinning nothing happens. How should I add a scheme like you did?

[2020-02-09 03:45] iRayanKhan commented on #9
Hi, I am still working on the fix, but a little busy too.

The link I sent gets sent to the fork, even if it looks like the main homepage.

[2020-02-09 03:46] iRayanKhan commented on #8
There seems to be a new Tuya protocol or new statuses. Could you provide the schema?

[2020-02-09 09:59] Zaphor88 commented on #8
yes, I can do that.  What should I do.

[2020-02-11 20:08] iRayanKhan commented on #7
Is this issuing glitching for anyone?
I can't see the other replies for some reason....
I will get back to you soon there is a current fork that fixes this issue, but is temporary.

[2020-02-11 20:09] iRayanKhan commented on #9
Hey Lester, were you able try out the fork?
I will publish a beta to make it easier instead of having to git clone it for everyone.

[2020-02-11 20:10] iRayanKhan commented on #8
Hi, sorry for the late reply.
Before I get the schema, can you provide the logs of what HomeBridge says when you start this plugin and request status?

Also can you make sure your config is correct incase of a typo?

[2020-02-11 21:07] Lestercity commented on #9
Hi Rayan. Thx for getting back to me. I wasnt able to try out the fork, thought installing the version of the fork was enough. But as I read your reply, I understand I need to git clone the fork. I didnt figure out yet how to do that. If you can guide me some steps on how to do that I am happy to try it. Thank you again. Still hoping 1 day it will work :-)

Mvg Lester

dinsdag 11 februari 2020 21:

[2020-02-11 21:23] SegaBoy64 opened #10 "ItVanila Dehumidifier"
I have a couple of these devices that I’m trying to hook up to the plugin, but so far can only register them as SimpleLights to get a basic On/Off power state:

https://www.amazon.co.uk/iTvanila-Dehumidifier-dehumidifiers-condensation-dehumidification/dp/B07D1345W3

I have retrieved the following schema from the device:

[code]

Along with the following status update info:

`Feb 06 22:21:38 raspbe

[2020-02-11 22:11] Zaphor88 commented on #8
I think everything is correct.

The floor lamp is called "Deckenlicht"

I hope that's all you need

<details open>
<summary>Homebridge Log</summary>
<br>
-- Logs begin at Thu 2019-02-14 11:11:59 CET. --
Feb 11 22:31:43 raspberrypi homebridge[538]: [2020-2-11 22:31:43] [Alexa] PowerC                                                                                             ontroller TurnOn 192.168

[2020-02-12 01:38] iRayanKhan commented on #10
Hi there!
Thanks for the info, currently this plugin does not support the humidifier accessory. I can try to add it in, but it's exam season :/. I am still able to provide support, but development is a little slow 'till mid march.

In the mean time, does the humidifier work properly currently with on/off, is there a light accessory attached, is there other characteristics such as humidity info, de

[2020-02-12 01:45] iRayanKhan commented on #9
Hey, I will have a beta release tomorrow that you should be able to test. I don't have any blinds to test this with, so if it crashes please let me know.

[2020-02-12 01:45] iRayanKhan commented on #7
Hey, I will have a beta release tomorrow that you should be able to test. I don't have any blinds to test this with, so if it crashes please let me know.

[2020-02-12 07:36] mitch7391 opened #11 "Australian Brand Arlec Grid Connect - Dimmable Light"
@iRayanKhan I have installed you version of this and gave it a go today and am facing the same issues as I was in homebridge-tuya-lan. Here is an issue I raised recently that details my issue more:

https://github.com/AMoo-Miki/homebridge-tuya-lan/issues/159

Here is the original issue I hijacked:

https://github.com/AMoo-Miki/homebridge-tuya-lan/issues/114

I spent a very long time trying to get

[2020-02-12 12:53] Lestercity commented on #7
Ok perfect! Cant wait to test it :-). Will give the feedback after. Thx again!

Mvg Lester

woensdag 12 februari 2020 02:45 +0100 van notifications@github.com  <notifications@github.com>:

[2020-02-13 11:34] Lestercity commented on #9
Ok great! Cant wait to try the beta. I let you know what happens. Thx again!

[2020-02-13 22:58] SegaBoy64 commented on #10
Hi,

Thanks for the reply; completely understand about exams, so no urgency whatsoever. I’m quite keen to start dabbling, so may grab the code and see what happens.

To answer your questions:

The dehumidifier works in terms of powering on/off when currently configured as a SimpleLight, so it has a working connection.

Not sure by what you mean about a light accessory - I simply set that up as it

[2020-02-14 04:55] iRayanKhan commented on #11
Hi what is the output you get when trying to control the device?

[2020-02-15 03:31] mitch7391 commented on #11
Light is reporting as off in Homekit whilst it iss actually on (reports as on in Grid Connect app). The state only changes in Homekit based on the commands I issue from Homekit (under the assumption the command was successful I assume), however this does not physically change the state of the light.

What I see in homebridge when I turn the light off and on in Homekit:

[TuyaAccessory] Sending Sma

[2020-02-15 03:48] iRayanKhan commented on #11
So Command 8 means it's using an unknown API.

If you can follow the instruction at the end of [this](https://github.com/AMoo-Miki/homebridge-tuya-lan/wiki/Common-Problems) wiki page, I can try (no guarantees) to see if I can implement this into the plugin. And instead of the Email listed there send it to ``` rayankhan04 [@] iCloud.com```

[2020-02-15 03:50] iRayanKhan commented on #7
Hi @Lestercity Are you able to git clone by chance?
The newBlinds branch is ready, if need be I can publish it to NPM.
I want to fix up the ReadMe and the Wiki in time before shipping this update.

[2020-02-15 04:36] mitch7391 commented on #11
Interesting that would explain a lot. Would have been good if the other developer had responded to me and saved me all the time Iv wasted trying to set this up... I was told this is a rebranded Tuya app, but maybe it’s different. I will follow the steps and get back to you :) hopefully I will have some time this evening.

[2020-02-15 13:31] mitch7391 commented on #11
I feel like that these steps have a bunch of assumed knowledge. As someone who isn’t a Mac user, using his Fiancée’s Mac, I am stuck on step 10. Am I typing that into terminal? I tried in there and it says ‘-bash: rvictl: command not found’.

Are there steps to do this on windows where I am a bit more comfortable?

[2020-02-15 15:17] Lestercity commented on #7
Hi Rayan. I didnt do the git clone, because I dont know how to do that...:-(. If you can guide me some steps I will be happy to do it. Thx again.

Mvg Lester

zaterdag 15 februari 2020 04:50 +0100 van notifications@github.com  <notifications@github.com>:

[2020-02-16 11:39] mitch7391 commented on #11
So I googled and found that I need to install X-code on her Mac to get the additional tools, problem is she has no space on her Mac. @iRayanKhan is there a way to do all of this on Windows10? If not I will have to negotiate some space haha...

[2020-02-18 02:33] iRayanKhan commented on #11
Hi @mitch7391 sorry for the delay,
I personally use all mac's let me do some research on a way to do it from Windows.
Xcode does indeed take much storage on macOS, because it has a lot of device support files on it.

I will get back to you asap.

[2020-02-18 02:38] iRayanKhan commented on #10
Thanks for the wishes, and sorry for the delay.

With these 4 different types of attributes, I will base the accessory off a humidifier accessory (there isn't a dehumidifier accessory in HK), it should allow you to turn the diffuser on/off, and control the desired humidity. The other modes like Purify, Laundry, and Fan will be published as separate accessories which you can choose to group togethe

[2020-02-18 02:38] iRayanKhan commented on #9
Hi @Lestercity sorry for the delay,
I can publish the beta tomorrow as I tested some changes and you should be able to install it via NPM once it's live.

[2020-02-18 02:41] iRayanKhan commented on #8
Hi @Zaphor88 sorry for the delay,
Have you tried the other light accessories types by chance to sew if that allows it to work?

[2020-02-18 02:41] Lestercity commented on #9
Ok great, cant wait :-). Please let me know when it is available. I will let you how it went. Thx again.

Mvg Lester

dinsdag 18 februari 2020 03:39 +0100 van notifications@github.com  <notifications@github.com>:

[2020-02-18 02:50] iRayanKhan commented on #9
@Lestercity scratch that try installing it now using this command:
[code]

Edit: You need to update your config.
For the device type add "New" right before it.

So it would be:
NewSimpleBlinds

[2020-02-18 02:51] iRayanKhan commented on #7
@rcrdcst try this:
[code]

[2020-02-18 03:14] mitch7391 commented on #11
No worries @iRayanKhan, would be good to learn how to do his stuff and always willing to try help out if I can; just need a little guidance haha.

[2020-02-18 05:59] Zaphor88 commented on #8
I have no more lamps that run over Tuya.

Only those that run on Magichome Platform. And they work. The percentage remains at the set position.

I have tested the homebridge-Tuya-Web plugin in the last few days. The percentage worked as it should.
I would rather use your plugin.

[2020-02-18 06:02] iRayanKhan commented on #8
Yeah I use MagicHome too and see no conflicts. Let me see what's different between this plugin and the web version and see if I can identify a root cause.

Thanks for your patience.

[2020-02-18 06:06] iRayanKhan commented on #8
In the mean time when I meant other light accessory types, would defining them in the plugin make them work by chance? Here a list of accessory types for lights:
[code]

[2020-02-18 06:07] iRayanKhan commented on #6
@chinloon Sensor support coming to V1.0.2
AmooMiki added support for it so I will add it to this plugin.

[2020-02-18 06:33] Zaphor88 commented on #8
If i use RGBTWLight the percentage goes.
At SimpleLight and TWLight the percentage doesn't go.
However the color palette is now shown to me although the lamp cannot change the color.

[2020-02-18 06:36] iRayanKhan commented on #8
Glad there's a temporary workaround for now. I will hopefully have this hot fix ready soon.

[2020-02-18 06:43] chinloon commented on #6
Nice.  What is the json segment template for this function?  Thanks!

[2020-02-18 06:44] iRayanKhan commented on #6
I will have that for you soon, it is in the original repo if you'd like to test that.

[2020-02-18 06:59] chinloon commented on #6
ok, thanks! Looking forward to it.

[2020-02-18 07:17] Zaphor88 commented on #8
That would be great if you can fix that.
Thank you very much.

[2020-02-18 10:38] Lestercity commented on #9
So I installed the beta and it still giving me the same result, spinning tiles in Home App. Tried a fresh install but same outcome. I added some photos so you can check. Everything seems fine in Terminal Homebridge, but the blinds wont react on anything, just spinning tiles.
![1A24F958-4CEC-4ECF-83D1-FA08267231F3](https://user-images.githubusercontent.com/25134005/74728520-342ef300-5243-11ea-937d-

[2020-02-18 10:39] Lestercity commented on #9
![DB281D55-49A2-43CE-9FFE-427C8F7819A3](https://user-images.githubusercontent.com/25134005/74728561-46109600-5243-11ea-9936-bf93dbb7d9cc.jpeg)

[2020-02-18 10:54] Lestercity commented on #9
So I forgot to add the new device type “NewSimpleBlinds”. But after adding that to the config I am getting invalid type message when starting homebridge, see photo.
![60677A5F-614D-4FF9-B3FB-51BFDA351E84](https://user-images.githubusercontent.com/25134005/74729803-545fb180-5245-11ea-8f0f-afbafba16284.png)

[2020-02-18 17:53] iRayanKhan commented on #9
Hi @Lestercity I forgot to change the class name in the NewSimpleBlinds accessory file.

I pushed the changes to GitHub, but I have to wait 'till I get home to push the changes to NPM.

I will be able to push the changes to NPM in 4-5 hours.

[2020-02-18 23:11] Lestercity commented on #9
Hi Rayan. Thx. Will wait for the change and proceed. Really big thanks for your effort and responses.

Mvg Lester

dinsdag 18 februari 2020 18:53 +0100 van notifications@github.com  <notifications@github.com>:

[2020-02-18 23:11] Lestercity commented on #9
Could you notify me when changes are active. Thx again.

Mvg Lester

dinsdag 18 februari 2020 18:53 +0100 van notifications@github.com  <notifications@github.com>:

[2020-02-18 23:28] iRayanKhan commented on #9
Hi @Lestercity just pushed a fix via npm install it link this:
``` sudo npm i -g homebridge-tuya-platform@1.1.0```

[2020-02-19 19:24] iRayanKhan commented on #9
Hi @Lestercity,
did you have a chance to test out the new version yet?

[2020-02-19 19:28] Lestercity commented on #9
Hi Rayan. How are you? My wife took my macbook, that is running homebridge, with her to work. :-(. She will be back in about a hour. So cant wait to test it with the new version. In about 1-2 hours I will get back to you with the results. I will install the new beta over the old beta and will adjust the type to “NewSmartBlinds” in the config.json.  

Mvg Lester

woensdag 19 februari 2020 20:24 +01

[2020-02-19 19:39] iRayanKhan commented on #9
I'm good, thanks for asking, how are you?
Can't wait to hear how it works for you! Also if you wanted to, you could get a raspberry pi to run homebridge on, that's what I did to keep it running 24/7.

[2020-02-19 20:17] iRayanKhan commented on #11
If you need guidance, look at the index file and the other accessory files to see how an accessory is made. I have to do some research on how to add it since I haven't tinkered with a humidifier accessory (in home bridge) yet.

[2020-02-19 20:55] Lestercity commented on #9
Yes I was looking already at a rpi for running it 24/7.

About the new fix. After installing it and running homebridge I am getting errors in Terminal:

![464389DF-B9B7-45B3-A2EA-E66E4DB8632A](https://user-images.githubusercontent.com/25134005/74875380-713dd700-5362-11ea-917c-491bb176dc11.jpeg)

[2020-02-19 20:55] Lestercity commented on #9
Error: the requested platform ‘TuyaLan’ was not registered by any plugin.

[2020-02-19 20:56] Lestercity commented on #9
Should I change anything else in the config.json besides the “Type”? Because the 1.1.0 version installs fine. But when launching Homebridge in Terminal I am getting error message: the requested platform ‘TuyaLan’ was not registered by any plugin.

[2020-02-21 18:19] iRayanKhan commented on #9
I have to see, I mean if installed via NPM it should run. Let me do some more research.

Edit:
Can you also paste your config with the keys redacted and such?

[2020-02-21 18:25] iRayanKhan commented on #9
Are you using a Pi, sorry if I already asked. If so I'll show you how to git clone, as I think I just fixed the issue.

[2020-02-21 18:28] Lestercity commented on #9
Hi Rayan. Thanks for getting back to me. Really appreciated! I am using a macbook to run homebridge. I am overthinking to get a pi as you advised, but for now I have only my macbook. Would it be possible to git clone using a mac?

[2020-02-21 18:32] iRayanKhan commented on #9
Yes you should be able to.
try typing
``` git clone```
in terminal and see if it spits out a long list of commands.

[2020-02-21 18:33] Lestercity commented on #9
I did. And indeed it does.

Mvg Lester

vrijdag 21 februari 2020 19:32 +0100 van notifications@github.com  <notifications@github.com>:

[2020-02-21 18:36] iRayanKhan commented on #9
Yay!
Ok so try doing this in terminal. Make sure you are in your NPM directory where the other NPM plugins are:
```git clone -b newBlinds https://github.com/iRayanKhan/homebridge-tuya-platform```

[2020-02-21 18:38] Lestercity commented on #9
Sorry for noob question. But how do I know or how do I make sure I am in the npm directory? :-(

[2020-02-21 18:42] iRayanKhan commented on #9
Type cd (path)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-02-21 18:43] iRayanKhan commented on #9
I don’t know the path off the top of my head, the internet may help. Just search up “npm path macOS”

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-02-21 18:48] Lestercity commented on #9
<img width="508" alt="image" src="https://user-images.githubusercontent.com/25134005/75062446-18e21300-54e3-11ea-9235-93338a88f568.png">

[2020-02-21 18:48] Lestercity commented on #9
is this good

[2020-02-21 19:03] iRayanKhan commented on #9
Looks good, make sure to remove the old Tuya-platform plugin

[2020-02-21 19:12] Hendriks046 commented on #9
@Lestercity do you use the Tuya Curtain Module? @iRayanKhan I am running Homebridge on my rpi. Through Hoobs. If you are okay with it. I'll be happy to try.

[2020-02-21 19:15] Lestercity commented on #9
Yes I do.

Mvg Lester

vrijdag 21 februari 2020 20:12 +0100 van notifications@github.com  <notifications@github.com>:

[2020-02-21 19:16] Hendriks046 commented on #9
@Lestercity I also see you are Dutch. Wich I am too!

[2020-02-21 19:33] Lestercity commented on #9
ok great.

[2020-02-21 19:42] Lestercity commented on #9
Rayan. So the betas still giving me the same message, SimpleBlinds not defined and requested platform not registered. After doing the git clone thing Homebridge was giving me lots of errors about writing access and Homebridge wouldn't start at all. After I wasn't able to install the 'normal' version of Homebridge Tuya Platform which was free of errors within Terminal. So I deleted the Tuya Platfor

[2020-02-21 19:43] iRayanKhan commented on #9
@Lestercity re-add the plugin to the config and in terms of install type sudo before git cloning.

[2020-02-21 19:44] iRayanKhan commented on #9
Ohhh I know why it isn't working.
The plugin is still recognised as "homebridge-tuya-lan" in the config, but use sudo before git cloning. Should work

[2020-02-21 19:45] Lestercity commented on #9
ok so I should reinstall latest beta 1.1.0. Then do the git clone part?

[2020-02-21 19:50] Lestercity commented on #9
<img width="572" alt="image" src="https://user-images.githubusercontent.com/25134005/75066735-c9541500-54eb-11ea-86c8-e325af5476bc.png">

[2020-02-21 19:51] iRayanKhan commented on #9
remove the old version of the plugin, and install via git clone

[2020-02-21 19:52] Hendriks046 commented on #9
what's the command for removing the gitclone one? if I command sudo apt-get remove homebridge-tuya-platform. It says unable to locate package

[2020-02-21 19:53] iRayanKhan commented on #9
@Hendriks046  you are using linux correct?
If so the command is the same for macOS,
```sudo rm -rf homebridge-tuya-platform``` (To delete plugin)

Make sure you are in the correct path of where the plugin is stored

[2020-02-21 19:54] Hendriks046 commented on #9
i am using macOS. i'm on my macbook. But i'm using the terminal in hoobs UI.

[2020-02-21 19:55] iRayanKhan commented on #9
I don't have much experience with hoobs. Do you know where the plugin is stored in terms of file path?

[2020-02-21 19:57] Hendriks046 commented on #9
I think it's in node_modules?

[2020-02-21 19:57] iRayanKhan commented on #9
Yeah it should be in there

[2020-02-21 19:58] Lestercity commented on #9
<img width="559" alt="image" src="https://user-images.githubusercontent.com/25134005/75067243-dde4dd00-54ec-11ea-96c0-2744612d68e2.png">

[2020-02-21 19:59] Lestercity commented on #9
<img width="570" alt="image" src="https://user-images.githubusercontent.com/25134005/75067283-f6ed8e00-54ec-11ea-89bb-f085eefe65e4.png">

[2020-02-21 20:00] iRayanKhan commented on #9
one last thing you can try (that I can think of, off the top of my head).

Move the new version of the plugin to your desktop. Then install the plugin normally using NPM, then swap the old version with the new version by dragging the files.

[2020-02-21 20:00] Lestercity commented on #9
<img width="569" alt="image" src="https://user-images.githubusercontent.com/25134005/75067412-33b98500-54ed-11ea-9835-7bef29015bb5.png">

[2020-02-21 20:00] iRayanKhan commented on #9
What time zone are you in @Lestercity?

[2020-02-21 20:01] Lestercity commented on #9
:-) Europe the Netherlands it is 2100hr at this moment.

[2020-02-21 20:03] iRayanKhan commented on #9
Could I screen share into your Mac?

macOS has a built in tool (in spotlight search: Screen Sharing).

To connect I just need your Apple ID, you can email me it at ```rayankhan04 [@] iCloud.com```

[2020-02-21 20:04] Lestercity commented on #9
off course, happy if you do.

[2020-02-21 20:05] Hendriks046 commented on #9
I cannot even get the id and key with the: tuya-lan-find.
Keep getting this error messages:
Error: { Error: socket hang up
    at TLSSocket.onSocketClose (_tls_wrap.js:761:23)
    at TLSSocket.emit (events.js:194:15)
    at _handle.close (net.js:597:12)
    at Socket.done (_tls_wrap.js:388:7)
    at Object.onceWrapper (events.js:277:13)
    at Socket.emit (events.js:189:13)
    at TCP._handle.clos

[2020-02-21 20:05] Hendriks046 commented on #9
Please keep me updated.

[2020-02-21 20:05] iRayanKhan commented on #9
@Hendriks046  Try the uCoven home app to get the keys

[2020-02-21 20:05] Hendriks046 commented on #9
I did.

[2020-02-21 20:07] iRayanKhan commented on #9
Are you using hoobs too?

[2020-02-21 20:10] Hendriks046 commented on #9
I installed the tuya-lan plugin on my macbook without ssh into Hoobs. When i try tuya-lan-find into Hoobs, it sees two networks.

[2020-02-21 20:10] iRayanKhan commented on #9
See #4

[2020-02-21 20:12] Lestercity commented on #9
I am accepting your request but it isn't working right?

[2020-02-21 20:12] Lestercity commented on #9
I see the request and accept full control

[2020-02-21 20:13] Lestercity commented on #9
then a screen pops up with your id and then it goes.

[2020-02-21 20:13] iRayanKhan commented on #9
I wonder if it may be blocked at school. Are you on the latest version of macOS?

[2020-02-21 20:14] Lestercity commented on #9
<img width="256" alt="image" src="https://user-images.githubusercontent.com/25134005/75068251-1d142d80-54ef-11ea-8a43-9e432a706340.png">

[2020-02-21 20:15] Hendriks046 commented on #9
@iRayanKhan I managed to delete the file, and reinstall it with sudo gitclone. Now i'm trying your advice for getting the id/key

[2020-02-21 20:17] Lestercity commented on #9
<img width="1036" alt="image" src="https://user-images.githubusercontent.com/25134005/75068476-885dff80-54ef-11ea-8184-63c0f36379f2.png">

[2020-02-21 20:17] Lestercity commented on #9
this is looking okay right

[2020-02-21 20:18] Lestercity commented on #9
should I adjust something within the tuya platform folder

[2020-02-21 20:20] Lestercity commented on #9
<img width="374" alt="image" src="https://user-images.githubusercontent.com/25134005/75068720-03bfb100-54f0-11ea-9058-1fafaf717824.png">

[2020-02-21 20:21] Lestercity commented on #9
this is the config for the tuya part

[2020-02-21 20:25] Hendriks046 commented on #9
changed the port to: 8001. when I type tuya-lan-find. this is the error.
/usr/local/lib/node_modules/homebridge-tuya-lan/bin/cli.js:175
    let {address, port} = proxy.httpServer.address();
                                           ^

TypeError: Cannot read property 'address' of undefined
    at /usr/local/lib/node_modules/homebridge-tuya-lan/bin/cli.js:175:44
    at /usr/local/lib/node_modules/h

[2020-02-21 20:26] Lestercity commented on #9
So should I take all the files and folders within the homebridge-tuya-platform folder to my desktop, then install the 'normal' version. And paste back all the files and folders from my desktop?

[2020-02-21 21:08] Lestercity commented on #9
So I pasted all the files and folders of the new beta version to my Desktop. After I installed the original version that was without error messages within Terminal. Then I pasted the files and folder back to the Tuya-Platform folder within the npm/node folder as you suggested. But Terminal is still giving the same error message after starting Homebridge: plugin not registered etc etc.

[2020-02-21 21:25] Hendriks046 commented on #9
@Lestercity ik heb begrepen dat de modules van Shelly 2.5 wel prima werken. En ook goed werken met homebridge.

[2020-02-21 21:27] Lestercity commented on #9
Daar zat ik ook eerst naar te kijken. Alleen nadat ik me daar verder in verdiept heb begreep ik dat daarmee de kans bestaat dat je de motor verbrandt van je rolluiken. Omdat je ze niet goed kan calibreren.

Mvg Lester

vrijdag 21 februari 2020 22:25 +0100 van notifications@github.com  <notifications@github.com>:

[2020-02-21 21:28] Lestercity commented on #9
Was t al gelukt om id en key te achterhalen? Ik zat daar ook eerst mee te stoeien.

Mvg Lester

vrijdag 21 februari 2020 22:25 +0100 van notifications@github.com  <notifications@github.com>:

[2020-02-21 21:32] Hendriks046 commented on #9
Hmm heb ik nog niks van gelezen. Hoe doet de tuya module dan calibreren?

En helaas is het me nog steeds niet gelukt om de key te achterhalen. Het ID vind je terug in de app. Als je ervoor open staat mag je me een berichtje sturen. 06-25325466. Zodat we elkaar op de hoogte kunnen houden als er een doorbraak is...

[2020-02-21 21:42] MikeDProducer opened #13 "Extracting Keys"
Greetings. I love this project. Are you working on an updated way to extract the keys from Tuya? As I understand it, they’ve changed it to make this more difficult. Methods that are recommended no longer work.

[2020-02-22 02:51] MikeDProducer commented on #13
I tried this and it didn’t work. I also attempted another method using Burp. I’ve read that Tuya changed something where it doesn’t deliver the key information r try he same way as they used to. But I don’t know much about it.

[2020-02-23 01:46] beef-techau commented on #11
I’m in the same boat as Mitch, I’ve got device id  and key, I’ve managed to get the device into home app via homebridge however it’s unresponsive.
It’s an Arlec Smart LED Globe RGB from bunnings.
I bought it as a tester because it will be a financially better option to replace lights with arlec (tuya) options rather than HomeKit verified options.
I used tuya-lan-find - - schema and then paired the

[2020-02-23 10:56] mitch7391 commented on #11
@L4RGER as @iRayanKhan has said it looks like the API used for our Arlec devices must be different somehow and hence why we can connect them but commands do not work. Until he or someone else is able to work out the API then it sounds like we are stuck.

[2020-02-24 02:13] L4RGER commented on #11
@mitch7391,
Have you got a SmartThings hub? If these arlec globes work through SmartThings, and then use the SmartThings plugin should be sweet.
I’m just in the process of buying a house so trying to sort a few things out before hand, so if I bought a s/things hub now it would literally be for one light globe haha
But I’ve seen it quoted that between HomeKit and smart things just about every smart

[2020-02-24 02:26] beef-techau commented on #11
@iRayanKhan, I’m getting command 10 which is different to what @mitch7391. Hopefully
I get some time later today and will try to follow the steps to debug
![4922546A-6586-4395-8312-9B93926C20CA](https://user-images.githubusercontent.com/61365310/75125444-e3b30c00-5700-11ea-9d22-113866f1b9a1.jpeg)

[2020-02-24 07:01] iRayanKhan commented on #13
Hi @MikeDProducer, try the uComen home app to get the keys.

[2020-02-24 07:03] iRayanKhan commented on #9
Yeah the request kept timing out.
If you want to, can you email me your unreacted config? And let me know I time I can test an open blinds test. I think somethings not happening correctly when you clone, so if it works for me, then I'd publish it to NPM so you can install it normally.

[2020-02-27 22:35] rcrdcst commented on #7
dont know why but all my 4th gen blinds stop working, with the beta package @iRayanKhan

[2020-02-29 17:14] bugs181 opened #14 "Can't extract keys through various apps"
So far, I have tried the following apps with no success:

- TuyaSmart
- Geeni
- Smart Life
- CE Smart
- UcomenHome

I have followed the instructions to the letter. I've setup this plugin before but it's been a while and I just purchased some new devices to add again. I'm well aware of the steps it takes and I repeated the same steps as last time.

On every app I've tried, I receive "Network Error,

[2020-03-02 14:14] Lestercity commented on #9
Hi Rayan. Did you receive my config?

[2020-03-02 21:33] iRayanKhan commented on #14
Yeah I guess the api has broken. Looks like I have to find a workaround.

[2020-03-03 21:49] Lestercity commented on #9
Hi Rayan. Was wondering could a tuya alarmsystem be integrated in the plugin? It got 3 modes; arm, disarm and home.

[2020-03-03 22:30] iRayanKhan commented on #9
Hi @Lestercity I didn't get your email of your config, if you don't mind resending it I'd appreciate it.
Secondly, I can try to get tuna alarm system in, but I want to get the blinds first, then humidifier, then alarm system. The alarm system seems trickier as I've never tinkered with the Alarm Controller accessory in HomeKit.

[2020-03-03 23:25] Lestercity commented on #9
Hi Rayan. Great to hear you also doing the humidifier, since I own one of those too :-). For now I have added it as a simple light and it turns on and off, but would be great to control the lights/colours also and the strength of the mist. As for the blinds, below my config. And as for the alarm system will be patient, but would be great and appreciated. Thanks for the hard work.

[2020-03-03 23:36] Lestercity commented on #9
And this how the SimpleBlindsAcc.json looks like:

[2020-03-04 15:52] Lestercity commented on #9
Did you get the configs?

[2020-03-04 16:00] Lestercity commented on #9
Here you have the schema I retrieved by using tuya-lan-find—schema:

[2020-03-05 14:54] iRayanKhan commented on #9
What time would like me to not tamper with your blinds? I can test it tonight.

[2020-03-05 17:16] Lestercity commented on #9
Whenever you ready. Just let me know what to do!

Mvg Lester

donderdag 5 maart 2020 15:54 +0100 van notifications@github.com  <notifications@github.com>:

[2020-03-06 22:09] Lestercity commented on #9
Hi Rayan. Are you there?:-)

[2020-03-06 22:20] Lestercity commented on #9
I took your advise and obtained a rpi Zero W. Installed Raspbian fine, but having some issues with Docker. It is running and homebridge shows up in Home App. But I am having issues with the plugins installing through the Docker Homebridge UI. They seem to install fine, but after the confirmation of the install some don't show up in the list of plugins. For example, I installed tuya plugin, ring pl

[2020-03-08 14:32] Lestercity commented on #9
Hi Rayan. So I managed to setup my new rip zero W with Homebridge. Everything is running the way it was with Homebridge on my Mac, so that is looking good so far. Thanks for the advise, now I have a dedicated server. I installed your beta tuya-platform plugin and it is running. Only when I change the SimpleBlinds to NewSimpleBlinds the blinds can't be discovered. When I change them back to SimpleB

[2020-03-08 14:33] Lestercity commented on #9
Could you guide through adjust the schema through Terminal?

[2020-03-08 17:08] iRayanKhan commented on #9
I will try a separate patch I guess 'cuz I don't get why it wouldn't work. Sorry for the delayed responses, I have stuff going on What time zone are you in again?

[2020-03-08 17:16] Lestercity commented on #9
Time Zone Amsterdam. It is 6.10pm now:-). I installed the Homebridge-Tuya-Platform plugin from your github. The humidifier works fine on/off. The Blinds are discovered when named SimpleBlinds, when changed to NewSimpleBlinds they dont. What I was wondering, a few weeks ago you pointed me to a fork of rcrdcst, he changed the SimpleBlindsAccessory.js. Changed 1,2,3 with Open,Close and Stop. Because

[2020-03-08 18:45] iRayanKhan commented on #9
I guess your blinds must use a new status set then. It's what I'm assuming at least. The Tuya Api is very split up I wish it was unified.

[2020-03-08 18:55] Lestercity commented on #9
But do you think that adjusting the schema would solve it. And if so, could you guide me on how I could adjust the SimpleBlindAccessory through ssh Terminal. thx again.

Mvg Lester

zondag 8 maart 2020 19:45 +0100 van notifications@github.com  <notifications@github.com>:

[2020-03-15 01:11] TheHomekitWayFinder opened #15 "Cocoon Connect RGB LED Strip - Not working"
I have just purchased a new [Cocoon Connect LED Strip](https://cocoonproducts.com.au/cocoonconnect/smart-led-light-strip/) from Aldi and have successfully acquired the I’d and key of the device and set the device up as a `SimpleLight` and `RGBTWLIGHT` but neither of them are working. I have got the schema and signature of the device to help with troubleshooting. The LED strip doesn’t appear to sup

[2020-03-15 20:21] iRayanKhan commented on #7
@rcrdcst Is there any logs? I seem to have messed up adding the new accessory some how, I am still looking into how. I will make a new beta and branch based off your changes to add support for multiple different blinds.

[2020-03-17 08:01] iRayanKhan commented on #9
It may or may not. Can I get the schema again, it got buried in this thread xD

[2020-03-17 08:05] Lestercity commented on #9
Schema

Mvg Lester

woensdag 4 maart 2020 17:00 +0100 van Lesley van Taanom  <lestercity14@gmail.com>:

[2020-03-17 08:20] iRayanKhan commented on #9
I don't think it pasted

[2020-03-17 12:00] Lestercity commented on #9
Here you have the schema I retrieved by using tuya-lan-find—schema:

Mvg Lester

dinsdag 17 maart 2020 09:20 +0100 van notifications@github.com  <notifications@github.com>:

[2020-03-17 12:01] Lestercity commented on #9
Mvg Lester

dinsdag 17 maart 2020 09:20 +0100 van notifications@github.com  <notifications@github.com>:

[2020-03-18 07:54] Blackra1n5 opened #16 "Air Purifier inclusion"
I have a couple of Tuya Air Purifiers (branded as Homie) and would like to be able to control it as an air purifier accessory with the auto/manual modes, filter status, and Particulate Matter sensor. These features should all be supported by HomeKit.

I have tried to write my own 'AirPurifierAccessory.js' file but my javascript is terrible :(
I am currently running it as a fan with a modified simp

[2020-03-18 15:51] iRayanKhan commented on #16
Could I see your AirPurifierAccessory.js fork? It would help a lot!

[2020-03-19 18:14] MikeDProducer opened #17 "Device offline - constant polling"
When a device is disconnected (if someone shuts off the power to a bulb) the plugin begins frantically trying to connect to it. The home bridge logs light up like a Christmas tree and it seems to really bog everything down.

The original plugin (homebridge-tuya-lan) seems to address this in the current @rc build. Could these changes be applied here?

I would prefer to use this plugin, being that y

[2020-03-19 18:16] MikeDProducer commented on #13
That worked. Thank you!

[2020-03-19 18:16] #13 closed

[2020-03-19 18:29] iRayanKhan commented on #17
Lol Christmas Tree,
Yes I can apply these changes. I'm a bit behind on other issue so I can try to have a beta for this on Sunday at the latest. Or if it's a really small change I can do it tonight

[2020-03-19 18:31] MikeDProducer commented on #17
Thank you!!!

and Merry Christmas!!! :-)

[2020-03-21 00:17] Blackra1n5 commented on #16
I've been using SimpleFanAccessory with a few modifications.
I have tried to use AirPurifier Accessory but I seem to not be able to get correctly implement CurrentAirPurifierState and TargetAirPurifierState.

However, here is my Modified SimpleFanAccessory

`const BaseAccessory = require('./BaseAccessory');

class SimpleFanAccessory extends BaseAccessory {
    static getCategory(Categories) {

[2020-03-21 02:30] iRayanKhan commented on #15
I'll try to add it, a bit behind on issues, but I will definitely get it added.

[2020-03-21 13:25] Lestercity commented on #9
Hi Rayan. Did you manage to look into my config? And is there something we can change?

[2020-03-21 19:31] iRayanKhan commented on #9
I think it's fine I'm just  a bit behind on issues atm with other plugins and such, I'm still working on this too. I may have just initialised the new accessory wrong. I'll push a new rc tomorrow with a fix for this. Thanks for your patience.

[2020-03-21 19:36] Lestercity commented on #9
Okay great! Can I install the RC from your github like normal?

Mvg Lester

zaterdag 21 maart 2020 20:32 +0100 van notifications@github.com  <notifications@github.com>:

[2020-03-21 19:37] iRayanKhan commented on #9
It would be published trough npm so you would do ```sudo npm I -g homebridge-tuya-platform@rcX``` as soon as it's published.

[2020-03-23 08:27] Lestercity commented on #9
Is the new rc already ready for installation?

[2020-03-23 08:28] iRayanKhan commented on #9
It's 3am for me right now, I'm working on a potential fix. Also the X is going to be whatever the rc version will be.

[2020-03-23 08:32] iRayanKhan commented on #9
Keeping this as a note:
[code]

[2020-03-23 08:44] Lestercity commented on #9
Ok sorry for disturbing you this late ;-). Forgot about the time difference. Will wait for the rc to be ready. Could you send me a pm as soon as it is ready? Really appreciated.

Mvg Lester

maandag 23 maart 2020 09:28 +0100 van notifications@github.com  <notifications@github.com>:

[2020-03-23 08:45] iRayanKhan commented on #9
Oops didn't mean to make it sound like I was disturbed. I'm usually awake at this time doing work or coding xD. Yes I will send a PM as soon as it is ready for download.

[2020-03-23 08:48] Lestercity commented on #9
Okay haha. Thx again!

Mvg Lester

maandag 23 maart 2020 09:46 +0100 van notifications@github.com  <notifications@github.com>:

[2020-03-23 16:03] iRayanKhan commented on #14
Ucomen should still work to get keys, is your device un-added from the other apps?

[2020-03-25 21:00] MikeDProducer commented on #17
Happy new year :) haha. Any luck? I know that you are SUPER busy so I am not rushing you. I am just curious and stuck at home with a lot more time on my hands to mess with this stuff. lol

[2020-03-26 09:40] chinloon commented on #6
Not chasing, just wondering if I missed the update to allow sensors support?  Thanks!

[2020-03-26 15:57] iRayanKhan commented on #6
Hi, sorry for the delay, this will be added tonight. Do you know how to git clone by chance? if not I can publish an RC.

[2020-03-26 16:58] iRayanKhan commented on #11
I wonder if there are US version of these devices. I am not sure how to crack this specific API, but can look further to see what can be done. Tuya is such an obscure framework for devices lol

[2020-03-26 17:00] iRayanKhan commented on #16
I can't seem to get Air Purifier working that great either, I can try to base it off another plugin to see. But would you like to to make an accessory based off your code and see if I can make some tweaks to get it to show up officially in the plugin?

[2020-03-26 17:01] iRayanKhan commented on #17
I am stuck at home too, wish I had the time as well 🤣.
I will make a fork in the next day or so to see if this will work, my other plugin never really ran into this issue so this will be fun to try to implement. Do you know how to git clone by chance?

[2020-03-26 23:21] mitch7391 commented on #11
I was able to get this light to work using the Smart Life app and the homebridge-tuya-web plug-in. Thanks for your efforts.

[2020-03-27 02:52] MikeDProducer commented on #17
Not yet but I will sure as hell learn! haha Reading a tutorial now.

[2020-03-29 00:47] chinloon commented on #6
RC is better.  So it will be an @RCx?

[2020-03-29 09:58] iRayanKhan commented on #6
It will be rc1. the x is what rc version it is. So I got it all ready. In 8 or 10 hours the branch will be updated and the pull will be published to npm.
So all you will have to do is
[code]
in 8-10 hours.

[2020-03-29 10:13] TheHomekitWayFinder commented on #15
@iRayanKhan have you started work on this or not? If you need anything just ask

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-29 10:17] iRayanKhan commented on #15
I am currently, I am working my way trough issues at the moment so hope to get this done in the next few days. Contact sensors are really a pain xD

[2020-03-29 10:22] TheHomekitWayFinder commented on #15
Yeah, it’s due to the nature of them not being always connected and only connecting when they are triggered. I had one but I took it back as it was going to be a nightmare with HomeKit and instead I’m going to get aqara sensors as I already have the aqara hub

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-29 10:52] chinloon commented on #6
Ok, thanks!  BTW, what is the jason template for this sensor device?  Thanks!

[2020-03-29 20:23] cawmit commented on #17
I'm also seeing a lot of logs from this line: https://github.com/iRayanKhan/homebridge-tuya-platform/blob/c41651007a6362faf99a77ed86e7525d9ce45ad3/lib/TuyaDiscovery.js#L102 perhaps this is also fixed in the rc branch? Would be nice to see here too

[2020-03-29 20:47] iRayanKhan commented on #6
For the Json, how many Contact sensors do you have? And (don't send these), but you do have the id's and key's correct?

[2020-03-29 20:53] iRayanKhan commented on #6
Just published rc1
[code]
or
[code]

[2020-03-29 20:54] iRayanKhan commented on #7
Publishing rc2 later tonight with support for these blinds. Rc3 with @Lestercity's blinds. I think I found the root cause, but this will ensure it. Sorry for the delay, and thank you for your patience.

[2020-03-29 20:55] bugs181 commented on #14
Yes, it’s directly out of box. Never connected before. I’ve since switched to tasmota so unfortunately can not diagnose the issue further.

[2020-03-29 20:56] Lestercity commented on #7
So I need to install RC3 or RC2? Thx for your effort, much appriciated!

Mvg Lester

zondag 29 maart 2020 22:54 +0200 van notifications@github.com  <notifications@github.com>:

[2020-03-29 20:56] iRayanKhan commented on #14
Is the Tasmota working? If so Can I close this issue?

[2020-03-29 20:59] iRayanKhan commented on #11
Sorry for not being able to get it In time, glad it's working for you.

[2020-03-29 20:59] #11 closed

[2020-03-29 22:28] iRayanKhan commented on #7
If Rc2 works for you then use that, if not RC3 will be your fix. I finally got over a big hurdle and plan on having every open issue closed by this Saturday.

[2020-03-30 02:03] Faisalthe01 opened #19 "Unable to control the bulb"
**Describe the bug**
i was able to find the ID and the Key of my Kogan RGBW bulb. Added the bulb and i can see it my Accessories but i cannot control it. When i turn it off/on, the bulb does not respond. If i control it via the app, it works and  i can see the logs for it in homebridge.

**Config**
{
            "platform": "TuyaLan",
            "devices": [
                {

[2020-03-30 05:19] chinloon commented on #6
I have the ID and Keys.  I have door open/close sensor, temp/humidity sensor, smoke sensor, PIR.  That's way understanding the josn file format will hopefully help me see how to configure for each of them :-)

[2020-03-30 05:43] Blackra1n5 commented on #16
I haven't been able to spent substantial amount of time on it, however things are quite less hectic now and I will be able to work on this.

Would you mind explaining some of the code from some of the accessory.js files to me? Even just the data flow.

My JS is not great but it's something to do while I'm locked in 😂😂

[2020-04-01 02:05] iRayanKhan commented on #15
Can you paste your config I got it working out.

[2020-04-01 02:07] chinloon commented on #6
Is there a link where I can look at json sample on how to setup sensors?  Thanks!

[2020-04-01 02:50] iRayanKhan commented on #6
Sorry yes,
So just add a new device and set the type to match index.js, I can provide a sample config if you want me to.

[2020-04-01 10:33] TheHomekitWayFinder commented on #15
For the LED strip

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-04-01 15:47] iRayanKhan commented on #15
Yes, I don't know if you meant to attach it, but it didn't attach lol.

[2020-04-01 15:47] iRayanKhan commented on #19
Could I get the schema for the bulb?

[2020-04-02 10:38] TheHomekitWayFinder commented on #15
Device Config:
`{
                    "name": "LED Strip",
                    "type": "RGBTWLight",
                    "manufacturer": "Cocoon",
                    "model": "LED Strip",
                    "id": "xxxxxxxxxx",
                    "key": "xxxxxxxxxxx”
                } `

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-04-02 15:28] iRayanKhan commented on #15
If the schema analysis is correct make this your config:
[code]
The other modes you described the only possible states for them could be:

 "dpPower": 1,
    "dpMode": 2,
    "dpBrightness": 3,

    "dpColorTemperature": 4,

    "dpColor": 5,

[2020-04-02 15:36] iRayanKhan commented on #7
So you and Lester both seem to have the same blinds, a new build today will be published as rc2.
This rc will add support for your blinds. It's essentially rcrdcst's fork.

[2020-04-02 15:39] rcrdcst commented on #7
great @iRayanKhan  once we can download it tell us . :)

[2020-04-02 15:44] iRayanKhan commented on #7
@rcrdcst Do you want to rename the accessory to SimpleBlinds2, and create a PR?

[2020-04-02 18:03] iRayanKhan commented on #8
Ok I can get this done today, sorry for the wait. Could I get your config and schema please? (Retract ID and Keys)

[2020-04-02 18:04] iRayanKhan commented on #17
Should I just make it configurable to show these logs or just get rid of it?
I can see if I can make it when homebridge runs in debug mode it will show the messages.

[2020-04-02 18:23] Zaphor88 commented on #8
hey what do you mean by schema?

[2020-04-02 18:40] Zaphor88 commented on #8
Config

      {
            "platform": "TuyaLan",
            "devices": [
                {
                    "name": "Deckenlicht",
                    "type": "SimpleDimmer",
                    "id": "***",
                    "key": "***"
                 }
           ]
       }

[2020-04-02 19:30] iRayanKhan commented on #14
Closing:
Assuming you got Tasmota working.

[2020-04-02 19:30] #14 closed

[2020-04-03 01:26] iRayanKhan opened #20 "REPO MOVING"
Hello everyone,
I'm glad y'all are using this plugin and enjoying it, but this repo is moving.
CodeTheWeb deprecated his homebridge-tuya plugin, and I am now taking that over.
Currently it's not feasible to transfer your installation from here to that plugin as many things are different. Once everything is sorted you can migrate from this plugin to that plugin.

This is the repo link for those int